:root {
    /* Primary */
    --color-softCyan: hsl(174, 77%, 80%);
    --color-strongCyan: hsl(174, 86%, 45%);
    --color-lightGrayishRed: hsl(14, 92%, 95%);
    --color-lightRed: hsl(15, 100%, 70%);
    --color-paleBlue: hsl(226, 100%, 87%);
    /* neutral */
    --color-white: hsl(0, 0%, 100%);
    --color-veryPaleBlue: hsl(230, 100%, 99%);
    --color-lightGrayishBlue: hsl(224, 65%, 95%);
    --color-lightGrayishBlue2: hsl(223, 50%, 87%);
    --color-grayishBlue: hsl(225, 20%, 60%);
    --color-darkDesaturatedBlue: hsl(227, 35%, 25%);
}

@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Manrope", sans-serif;
    font-weight: 500;
    font-style: normal;
    height: 100vh;
    width: 100vw;
    position: relative;
}

/*  ******* utility clases ********* */
.container {
    padding: 0 1.3rem;
}

.text-grayishBlue {
    color: var(--color-grayishBlue);
}

.show {
    display: none;
}

@media(min-width: 1024px) {
    .show {
        display: block;
    }
}

.text-bold {
    font-weight: 700;
}


/* *********** header ********* */

.header {
    height: 50vh;
    background: url(../images/bg-pattern.svg);
    background-repeat: no-repeat;
    border-radius: 0 0 0 150px;
    overflow: hidden;
}

.header-container {
    height: 100%;
    background: url(../images/pattern-circles.svg);
    background-repeat: no-repeat;
    background-position: top 50px center;
    background-size: 143px;
}

.title {
    text-align: center;
    padding: 80px 0 0 0;
    font-size: 20px;
    color: var(--color-darkDesaturatedBlue);
}

.paragraph {
    text-align: center;
    padding: 10px 0 0 0;
    line-height: 25px;
    font-size: 15px;

}

@media(min-width: 1024px) {

    .header {
        height: 60vh;
        background-size: cover;
    }

    .header-container {
        height: 100%;
        background: url(../images/pattern-circles.svg);
        background-repeat: no-repeat;
        background-position: top 40px center;
        background-size: 140px;
    }

    .title {
        font-size: 28px;
    }

    .paragraph br {
        display: none;
    }


}

/* *********** Card ************ */

.card {
    width: 87%;
    background: var(--color-white);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    border-radius: 10px;
    margin-top: 95px;
    max-width: 570px;
}

.card-header {
    padding: 1.2rem;
    border-bottom: 1px solid var(--color-lightGrayishBlue);
}

.card-title {
    text-align: center;
    text-transform: uppercase;
    font-size: 12px;
    letter-spacing: 1.4px;
    padding-top: 15px;
}

@media(min-width: 1024px) {

    .card {
        margin-top: 80px;
    }

    .card-header {
        padding: 2.8rem;

    }

    .card-title {
        font-size: 15px;
        letter-spacing: 1.8px;
        font-weight: 600;
    }

    .card-header-flex {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }


}


/* ********  customize input range ********  */

.card-inputContainer {
    text-align: center;
    padding-top: 28px;
    position: relative;
}

.range-control {
    -webkit-appearance: none;
    /* this is necesary*/
    width: 100%;
    outline: none;
    border: none;
    position: relative;
}

/* - webkit browsers */

.range-control::-webkit-slider-runnable-track {
    -webkit-appearance: none;
    background: var(--color-lightGrayishBlue);
    height: 10px;
    border-radius: 5px;
}

.range-control::-webkit-slider-thumb {
    appearance: none;
    width: 35px;
    height: 35px;
    border-radius: 50%;
    background: url(../images/icon-slider.svg);
    background-repeat: no-repeat;
    background-position: 50% 50%;
    background-color: var(--color-strongCyan);
    border: 1px solid hsl(174, 66%, 45%);
    position: relative;
    z-index: 0;
    box-shadow: 0 9px 20px 4px var(--color-softCyan);
    /* (track hight / 2) - (thumb hight * 2) */
    margin-top: -12.5px;

}


/* Firefox */

.range-control::-moz-range-track {
    background: var(--color-lightGrayishBlue);
    height: 10px;
    border-radius: 5px;
}

.range-control::-moz-range-progress {
    background: var(--color-softCyan);
    height: 10px;
    border-radius: 5px;
}

.range-control::-moz-range-thumb {
    appearance: none;
    width: 35px;
    height: 35px;
    border-radius: 50%;
    background: url(../images/icon-slider.svg);
    background-repeat: no-repeat;
    background-position: 50% 50%;
    background-color: var(--color-strongCyan); 
    border: 1px solid hsl(174, 66%, 45%);
    position: relative;
    z-index: 0;
    box-shadow: 0 9px 20px 4px var(--color-softCyan);
}

.range-control::-moz-range-thumb:hover{
    background-color: hsl(174, 65%, 75%);
}

@media(min-width: 1024px) {

    .card-inputContainer {
        text-align: center;
        padding-top: 38px;
        position: relative;
    }

    .card-header-flex .card-inputContainer {
        display: none;
    }

}

/* card data*/

.card-data {
    padding-top: 30px;
    text-align: center;
}

.card-bill {
    font-size: 32px;
    color: var(--color-darkDesaturatedBlue);
}

.card-control-container {
    padding: 30px 0 20px 0;
    font-size: 12px;
    display: flex;
    align-items: center;
    justify-content: right;
    text-align: center;

}


/* stilyng input checkbox  */

/* General styles*/
.card-switch {
    position: relative;
    display: inline-block;
    width: 40px;
    height: 20px;
}

/* Hide default HTML checkbox */
.switch .card-check {
    appearance: none;
    opacity: 0;
    width: 0;
    height: 0;
}

/* The slider */
.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: var(--color-lightGrayishBlue2);
    -webkit-transition: .4s;
    transition: .4s;
}

/* the ball*/

.slider:before {
    position: absolute;
    content: "";
    height: 14px;
    width: 14px;
    left: 4px;
    bottom: 3px;
    background-color: var(--color-white);
    -webkit-transition: .4s;
    transition: .4s;
}

/* when is checked, the slider appareace change to*/
.card-check:checked+.slider {
    background-color: var(--color-softCyan);
}

.card-check:focus+.slider {
    box-shadow: 0 0 1px var(--color-softCyan);
}

.card-check:checked+.slider:before {
    -webkit-transform: translateX(20px);
    -ms-transform: translateX(20px);
    transform: translateX(20px);
}

/* Rounded sliders */
.slider.round {
    border-radius: 34px;
}

.slider.round:before {
    border-radius: 50%;
}


.card-control-container> :nth-child(-n+3) {
    margin-right: 10px;
}

.card-percentage {
    display: inline-block;
    padding: 3px 10px;
    border-radius: 12px;
    color: var(--color-lightRed);
    font-weight: bold;
    background: var(--color-lightGrayishRed);
}

@media(min-width: 1024px) {

    .card-data {
        padding-top: 0px;
    }

    .card-bill {
        font-size: 42px;

    }

    .card-control-container {
        padding: 40px 0 0px 0;
        font-size: 14px;

    }

    .card-control-container> :nth-child(-n+3) {
        margin-right: 15px;
    }

    .card-percentage {
        display: flex;
        align-items: center;
        padding: 3px 10px;
        border-radius: 12px;
        color: var(--color-lightRed);
        font-weight: bold;
        background: var(--color-lightGrayishRed);
    }



}


/* *********** card footer ******** */
.card-footer {
    padding: 1.2rem;
}

.card-footer .card-footer-list {
    list-style: url(../images/icon-check.svg);
    display: flex;
    flex-direction: column;
    align-items: center;
}

.card-footer .card-footer-list li {
    width: fit-content;
    font-size: 12px;
    padding-left: 7px;
    padding-bottom: 15px;
}

.card-footer-buttonContainer {
    padding: 1rem 0 .8rem 0;
    text-align: center;
}

.card-footer-button {
    background: var(--color-darkDesaturatedBlue);
    padding: 12px 38px;
    border: none;
    border-radius: 20px;
    color: var(--color-paleBlue);
    font-weight: 550;
    cursor: pointer;
}

.card-footer-button:hover {
    color: var(--color-white);
}

@media(min-width: 1024px) {

    .card-footer {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 2.8rem;
    }

    .card-footer .card-footer-list {
        align-items: start;

    }

    .card-footer .card-footer-list li {
        font-size: 14px;
    }

    .card-footer-button {
        padding: 11px 48px;
        border-radius: 20px;
    }

}